*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    background-color: #009688;
    background-image: linear-gradient( #009688 130px, #DBDBD3 0px, #DBDBD3 100px);
}
.container-main{
    max-width: 1200px;
    margin: 0 auto;
    height: 730px;
}
.row-main{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.row-header{
    display: flex;
    flex-wrap: wrap;
}
.circle {
    width: 50px; 
    height: 50px;
    border-radius: 50%;
    background-color: #f0f0f0; 
    text-align: center;
    line-height: 50px;
    margin-left: 8px;
}

.sidebar{
    display: flex;
    flex-direction: column;
    height: 664px;
    width: calc(100% / 3);
}

.form{
    padding: 12px 10px;
    font-size: 12px;
    width: 80%;
    border: none;
    border-radius: 5px;
}
.margin-l-370{
    margin-left: 370px;
}

.chat-bubble-white{
    height: 45px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: white;
    font-size: 14px;
    max-width: 45%;
}
.chat-bubble-green{
    height: 45px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color:#D5F9BA ;
    font-size: 14px;
    max-width: 45%;
}
.chat{
    height: 656px;
    width: calc(1200px - (100% / 3));
    background-image: url('../img/mine.jpg');
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.contact{
    overflow-y: scroll;
    height: 500px;
}
.user-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 8px 0px 0px 5px;
}
.user{
    height: 70px;
}
i{
    cursor: pointer;
}
.m-time{
    color: #9d9d9d9b;
    font-size: 10px;
    text-align: end;
}
/* position */
.position-abs{
    position: absolute;
    top: 120px;
    left: 0px;
}
.position-absolute-bottom-right{
    position: absolute;
    top: 598px;
    left: 400px;
}

/* color */
.grey{
    color: rgba(77, 77, 77, 0.587);
}
.lgrey{
    color: rgba(77, 77, 77, 0.386);
}
.bg-sky{
    background-color: #8EDAFD;
}
.bg-grey{
    background-color: #EAEAEA;
}
.bg-lgrey{
    background-color: #FAFAFA;
}
.bg-cream{
    background-color: #F3EEEA;
}
/* font size */
.fs-13{
    font-size: 13px;
}

/* selettori composti */
.user:active{
    background-color: rgb(225, 225, 225);
    cursor: pointer;
}
.w-800{
    width: 800px;
}
