<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/style.css">
    <title>Boolzapp</title>
</head>
<body>
    <div id="app">
        <div class="container-main bg-lgrey mt-4">
            <header>
                <!-- utente e contatto della chat -->
                <div class="row-header">
                    <div class=" col-4 bg-grey border-end border-secondary-subtle p-2">
                        <div class="d-flex align-items-center">
                            <img class="user-img" src="./img/avatar_io.jpg" alt="profile picture">
                            <div class="ms-2">Francesco</div>
                            <div class="ms-auto me-3">
                                <i class="fas fa-circle-notch fa-lg ms-3" style="color: #B1B1B1;"></i>
                                <i class="fas fa-message ms-3 fa-lg" style="color: #B1B1B1;"></i>
                                <i class="fa-solid fa-ellipsis-vertical fa-lg ms-3" style="color: #B1B1B1;"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-8 bg-grey p-2" v-if="activeContact">
                        <div class="d-flex align-items-center" v-for="contact in activeContact ? [activeContact] : contacts" :key="contact.id" >
                            <img class="user-img" :src="contact.avatar" alt="profile picture">
                            <div class="ms-2">
                                <div> {{ contact.name }}</div>
                                <div class="grey">Ultimo accesso oggi alle  {{ contact.lastActive }}</div>
                            </div>
                            <div class="ms-auto me-3">
                                <i class="fa-solid fa-magnifying-glass fa-lg ms-3" style="color: #B1B1B1;"></i>
                                <i class="fa-solid fa-paperclip ms-3 fa-lg" style="color: #B1B1B1;"></i>
                                <i class="fa-solid fa-ellipsis-vertical fa-lg ms-3" style="color: #B1B1B1;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- contatti e chat -->
            <div class="row-main">
                <div class="sidebar">
                    <div class="bg-sky p-3 d-flex">
                        <div class="circle">
                            <i class="fa-solid fa-bell-slash fa-lg" style="color: #8EDAFD;"></i>
                        </div>
                        <div class="ms-3">
                            <div class="fw-bold">Ricevi notifiche di nuovi messaggi</div>
                            <div><a class="grey" href="">attiva notifiche desktop</a></div>
                        </div>
                    </div>
                    <div class="bg-lgrey p-2">
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass fa-lg" style="color: #B1B1B1;"></i></span>
                            <input type="text" class="form-control" v-model="searchTerm" placeholder="Cerca o inizia una nuova chat">
                        </div>
                    </div>
                    <!-- lista contatti -->
                    <div class="contact" >
                        <div class="user d-flex"  v-for="contact in filteredContacts" v-for="contact in contacts" :class="{ 'active-user': contact === activeContact }" @click="setActiveContact(contact)">
                            <img class="user-img" :src="contact.avatar" alt="profile picture">
                            <div class="ms-2 mt-2">
                                <div class="name">{{ contact.name }}</div>
                                <div class="lgrey fs-13">
                                    <span v-if="contact.lastMessage && contact.lastMessage.message">
                                        {{ contact.lastMessage.message.slice(0, 20) }}...
                                    </span>
                                    <span v-else></span>
                                </div>
                            </div>
                            <div class="ms-auto mt-1 me-2">
                                <span class="lgrey fs-13">{{ contact.lastActive }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- chat e messaggi -->
                <div class="chat">
                    <div class="mt-4 ms-5" v-if="activeContact">
                        <div v-for="message in activeContact.messages.sort((a, b) => new Date(a.date) - new Date(b.date))" :class="{ 'chat-bubble-green margin-l-370 mt-2 mb-2': message.status === 'sent', 'chat-bubble-white mt-2 mb-2': message.status === 'received' }">
                            <div>{{ message.message }}</div>
                            <div class="m-time">{{ message.date }}</div>
                        </div>
                    </div>
                    <div class="position-absolute-bottom-right w-800">
                        <div class="p-2 bg-cream d-flex align-items-center justify-content-between">
                            <i class="fa-regular fa-face-smile fa-xl mx-4" style="color: #848484;"></i>
                            <input type="text"  class="form" placeholder="Scrivi un messaggio" v-model="messageInput" v-on:keyup.enter="sendMessage()">
                            <i class="fa-solid fa-microphone fa-xl mx-4" style="color: #848484;"></i>
                        </div>
                    </div>
                </div>           
            </div>
        </div>
    </div>
    
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript" src="./js/script.js"></script>
</body>
</html>